/* VERTICAL AND HOTIZONTAL TEXT ALIGNMENT IN COLUMNS */
.text {
   text-align: center;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.container {
   background-color: pink;
}

.nested {
   padding: 5px;
}
.nested [class*="col-"] {
   border: 1px solid white;
   background-color: #F88379;
}

[class*="col-"] {
   border: 1px solid black;
   min-height: 200px;
   position: relative;
}
